USE [Bon]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetFilterJoin]    Script Date: 14-04-2025 20:01:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_GetFilterJoin]
(
@query NVARCHAR(100),
@orderBy NVARCHAR(100),
@sortBy NVARCHAR(4),
@pageNumber INT,
@pageSize INT
)
AS
BEGIN

	DECLARE @l_Count NVARCHAR(MAX);
	DECLARE @l_Sql NVARCHAR(MAX);

	SET @l_Count = @query;
	SET @l_Sql = @query + ' ORDER BY ' + QUOTENAME(@orderBy) + ' ' + @sortBy + '  
					OFFSET (@pageNumber - 1) * @pageSize ROWS
					FETCH NEXT @pageSize ROWS ONLY';

	EXEC sp_executesql @l_Count, N'@pageNumber INT, @pageSize INT', @pageNumber, @pageSize;
	EXEC sp_executesql @l_Sql, N'@pageNumber INT, @pageSize INT', @pageNumber, @pageSize;
END

--EXEC sp_GetFilterJoin 'select *from [User]', 'id', 'ASC', 1, 10;