USE [Bon]
GO
/****** Object:  StoredProcedure [dbo].[sp_UserById]    Script Date: 14-04-2025 20:02:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_UserById]
(
@action nvarchar(50),
@uid uniqueidentifier,
@isActive bit =null
)
AS
BEGIN
		IF(@action='Get')
		BEGIN
			SELECT *from [User] where UId=@uid
		END
		
		IF(@action='Delete')
		BEGIN
			Delete from [User] where UId=@uid
		END
		
		IF(@action='IsActive')
		BEGIN
			Update [User] set isActive=@isActive  where UId=@uid
			SELECT *from [User] where UId=@uid
		END
END